.colaborador {
  width: 280px;
}

.colaborador .cabecalho {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0px 0px;
}

.colaborador img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.colaborador .rodape {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px, 0px, 10px, 10px;
  padding-top: 90px;
  padding-bottom: 40px;
}

.colaborador .rodape h4 {
  color: #6278f7;
  font-size: 1.5rem;
  line-height: 22px;
}

.colaborador .rodape h5 {
  color: black;
  font-size: 1.3rem;
  padding-top: 1rem;
  font-weight: lighter;
}
